@using SEIIApp.Shared.DomainDto
<h4>Question</h4>
<label >Question Text:</label>
<input type="text"
       @bind-value="QuestionDto.QuestionText"
       @bind-value:event="oninput"/>
@foreach (var answer in _answers)
{
    <li>
        <label> Answer Text:</label>
        <input type="text" @bind-value="answer.AnswerText" @bind-value:event="oninput"/>
        <label>Correct?</label>
        <input type="checkbox" @bind-value="answer.IsCorrect" @bind-value:event="oninput"/>
    </li>
}
<button @onclick="AddAnswer">Add Answer</button>
<br/>
<button @onclick="SaveQuestion">Save Question</button>



@code {

    [Parameter]
    public QuestionDto QuestionDto { get; set; }

    List<AnswerDto> _answers = new List<AnswerDto>();

    private void AddAnswer()
    {
        _answers.Add(new AnswerDto());
    }

    private void SaveQuestion()
    {
        QuestionDto.Answers = _answers.ToArray();
    }



}