@using SEIIApp.Shared.DomainDto
@using SEIIApp.Client.Components
<h3>Quiz:</h3>
<br/>
<label >Quiz name: </label>
<input type="text"
       @bind-value="QuizDto.QuizName"
       @bind-value:event="oninput"/>
<br/>
@foreach (var question in _questions)
{
    <li>
        <QuestionEditComponent QuestionDto="question"></QuestionEditComponent>
    </li>
}
<br/>
<button @onclick="AddQuestion">Add Question</button>
<br/>
<button @onclick="SaveQuiz"style="background-color:@buttonColor">Save Quiz</button>

@code {

    public string buttonColor = "#EFEFEF";

    [Parameter]
    public QuizDto QuizDto { get; set; }

    List<QuestionDto> _questions = new List<QuestionDto>();

    private void AddQuestion()
    {
        _questions.Add(new QuestionDto());
    }

    private void SaveQuiz()
    {
        QuizDto.Questions = _questions.ToArray();
        buttonColor = "#99ff66";
    }

}