@page "/AddQuiz"
<center><h2>Add new Quiz</h2></center>
<br />
<br />
<br />
<center><div>
    <label for="QuizName">Quiz Name</label>
    <input type="text" class="black 5px solid" name="QuizName" value="" />
    <a href="/AddQuestion" class="btn btn-dark btn-sm"> Add Question</a>
    <a href="/chapter" class="btn btn-success btn-sm"> Save Complete Quiz</a>

</div></center>





<br />




@code {

}
