@page "/AddQuestion"
@inject NavigationManager NavigationManager

<center><h2>Add new Question</h2></center>
<br />
<br />
<br />
<center>
    <div>
        <label for="QuestionName">Question</label>
        <input type="text" class="solid" name="QuestionName" value="" />
        <a class="btn btn-light btn-sm"> Confirm Question</a>
        <br />
        <br />
        <ul>
            @foreach (var todo in todos)
            {
                <center>
                    <li>
                        <input type="checkbox" @bind="todo.IsDone" />
                        <input @bind="todo.Title" />
                    </li>
                </center>

            }
        </ul>
        <br />
        <br />
        <input placeholder="add an Answer" @bind="newTodo" />
        <button @onclick="AddTodo">Add Answer</button>
        <br />
        <br />
        <h5>Wrong Answers: (@todos.Count(todo => !todo.IsDone))</h5>
        <br />
        <br />
        <a href="/chapter" class="btn btn-outline-danger btn-sm"> Remove Question</a>
        <br />
        <br />
        <br />
        <br />

    </div>
</center>

<div>
    <p align="right">
        <button class="btn btn-dark btn-sm" @onclick="refresh" style="margin-top:24px">Add Question</button>
        <button class="btn btn-success btn-sm" @onclick="refresh2" style="margin-top:24px">Save Complete Quiz</button>
    </p>
</div>

<br>

@code{      
    public void refresh() { NavigationManager.NavigateTo("/AddQuestion", forceLoad: true); }
    public void refresh2() { NavigationManager.NavigateTo("/chapter", forceLoad: false); }
}









@code {


    private List<AnswerItem> todos = new();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new AnswerItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
