@page "/chapter"

<center><strong><p style="font-family: 'Mate SC'"; font-size:3rem;" class="h1">Chapter</p></strong></center>
<br />
<br />

<center>
    <div style="font-family: 'Merriweather'">
        <label for="ChapterName">Chapter name:</label>
        <input type="text" name="ChapterName" value="" />
        <a class="btn btn-warning"> Create </a>
    </div>
</center>
<br />
<br />
<center>
    <div style="font-family: 'Merriweather'">
        <label for="Description">Add description:</label>
        <input type="text" name="Description" value="" />
        <a class="btn btn-warning"> Create </a>
    </div>
</center>
<br />
<br />
<center>
    <div style="font-family: 'Merriweather'">
        <a href="/UploadFileTest" class="btn btn-warning"> Add Content</a>
    </div>
</center>
<br />
<br />
<center>
    <div style="font-family: 'Merriweather'">
        <a href="/AddQuiz" class="btn btn-warning"> add Quiz</a>
    </div>
</center>
<br />
<br />
<details>
    Contact
    E-mail: example@neolearn.com
</details>

@code { }
