@page "/chapter"

<h3 style="font-family:'Mate SC'" color: #68a2a0;">Chapter</h3>

<label for="ChapterName" style=" font-family: 'Merriweather' , serif;">Chapter name:</label>
<input type="text"  name="ChapterName" value="" />
<br />
<br />
<label for="Description" style=" font-family: 'Merriweather' , serif;">Add description:</label>
<input type="text" name="Description" value="" />
<br />
<br />
<div>
    <a href="/UploadFileTest" class="btn btn-warning" style=" font-family: 'Merriweather' , serif;"> Add Content</a>
</div>
<br />
<br />
<div>
    <a href="/chapter" class="btn btn-warning" style=" font-family: 'Merriweather' , serif;"> add Quiz</a>
</div>
<br />
<br />
<details style=" font-family: 'Merriweather' , serif;">
    Contact
    E-mail: example@neolearn.com
</details>

@code {

}
