@page "/chapter"

    <center><strong><p style="font-size:3rem;" class="h1">Chapter</p></strong></center>
    <br />
    <br />

    <center>
        <div>
            <label for="ChapterName">Chapter name:</label>
            <input type="text" name="ChapterName" value="" />
            <a class="btn btn-primary"> Create </a>
        </div></center>
    <br />
    <br />
    <center>
        <div>
            <label for="Description">Add description:</label>
            <input type="text" name="Description" value="" />
            <a class="btn btn-primary"> Create </a>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div>
            <a href="/UploadFileTest" class="btn btn-primary"> Add Content</a>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div>
            <a href="/chapter" class="btn btn-primary"> add Quiz</a>
        </div>
    </center>
    <br />
    <br />
    <details>
        Contact
        E-mail: example@neolearn.com
    </details>

    @code {

    }
