@page "/courseTwo"

<center><strong><p style="font-family: 'Mate SC'";"font-size:4rem;" class="h1">Course Two</p></strong></center>
<div class="container">
    <b style="font-family: 'Merriweather'">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </b>
    <br />
    <br />
</div>

<h2 style="font-family: 'Mate SC'">Chapter 1</h2>
<br />

<b style="font-family: 'Merriweather'">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
</b>

<br />
<br />
<img src="C:\Users\basti\OneDrive\Bilder\pdfexample.jpg" alt="Sample Pdf" />
<br />
<br />
<div>
    <a href="/chapterquiz/1" class="btn btn-primary"> Quiz 1</a>
</div>
<br />
<br />
<h2>Chapter 2</h2>
<br />
<b>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
</b>
<br />
<br />
<img src="C:\Users\basti\OneDrive\Bilder\pdfexample.jpg" alt="Sample Pdf" />
<br />
<br />
<div>
    <a href="/chapterquiz/1/1" class="btn btn-warning" style="font-family: 'Merriweather'"> Quiz 1</a>
</div>
<br />
<div>
    <a href="/chapterquiz/1/1" class="btn btn-warning" style="font-family: 'Merriweather'"> Quiz 2</a>
</div>
<br />
<br />


@code {
    //TODO Verlinkungen anpassen! Zum Test Verlinkung direkt auf User 1 Frage 1

    public void OnPost()
            {
            } }
