@page "/courseOne"

<h3>Course One</h3>
<b>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
</b>
<br />
<br />

<details>
    <h1>Chapter 1</h1>
    <br />
    <b>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
    </b>
    <br />
    <br />
    <iframe type="text/html" width="640" height="385" src="https://youtu.be/eNBDWZ-50h4" frameborder="0">
    </iframe>
    <br />
    <br />
    <div>
        <a href="/chapter" class="btn btn-primary"> Quiz 1</a>
    </div>
    <br />
    <br />
    <div>
        <a href="/chapter" class="btn btn-primary"> Quiz 2</a>
    </div>
    <br />
    <br />
</details>

    @code {
        public void OnPost()
        {
        }

    }
