@page "/creator"

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Courses</title>
<center><strong><p style="font-size:4rem;" class="h1">Courses</p></strong></center>
<div id="courses">
    

    <br>
    <br>
    <div>
        <center><a href="/newCourse" class="btn btn-primary"> new Course</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/courseOne" class="btn btn-primary"> Course 1</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/courseTwo" class="btn btn-primary"> Course 2</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/studentregistry" class="btn btn-primary"> Students</a></center>
    </div>
    <br />
    <br />
    <br />
   
        <details>
            Contact
            E-mail: example@neolearn.com
        </details>
  

</div>


    @code {
        public void OnPost()
        {
        }




    }
