@page "/creator"
<h5>Creator</h5>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Courses</title>
<link rel="stylesheet" href="JimmaneoTest.css">
<h1>Courses</h1>
<div id="courses">
    

    <br>
    <br>
    <div>
        <a href="/newCourse" class="btn btn-primary"> new Course</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseOne" class="btn btn-primary"> Course 1</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseTwo" class="btn btn-primary"> Course 2</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/students" class="btn btn-primary"> Students</a>
    </div>
    <br />
    <details>
        Contact
        E-mail: example@neolearn.com
    </details>


</div>


    @code {
        public void OnPost()
        {
        }




    }
