@page "/creator"
<h5 style="font-family: 'Merriweather'" color: #68a2a0;">Creator</h5>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Courses</title>
<link rel="stylesheet" href="JimmaneoTest.css">
<h1 style="font-family: 'Mate SC'"; align: center">Courses</h1>
<div id="courses">
    

    <br>
    <br>
    <div>
        <a href="/newCourse" class="btn btn-warning" style="font-family: 'Merriweather'" color: #68a2a0;"> new Course</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseOne" class="btn btn-warning" style="font-family: 'Merriweather'" color: #68a2a0;"> Course 1</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseTwo" class="btn btn-warning" style="font-family: 'Merriweather'" color: #68a2a0;"> Course 2</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/students" class="btn btn-warning" style="font-family: 'Merriweather'" color: #68a2a0;"> Students</a>
    </div>
    <br />
    <details style="font-family: 'Merriweather'" color: #68a2a0;">
        Contact
        E-mail: example@neolearn.com
    </details>


</div>


    @code {
        public void OnPost()
        {
        }




    }
