@page "/CreatorHomepage"
@using SEIIApp.Shared.DomainDto
@inject Services.BackendAccessService BackendAccessService
@inject NavigationManager NavigationManager
<h3 style="font-family: 'Mate SC'"; >CreatorHomepage</h3>
<br />
<br />

<center>
    <h4 style="font-family: 'Mate SC'">These are all courses:</h4>
</center>

    @{
        /* <ol>
             @foreach (var course in allCourses)
             {
                 <li>@course.CourseName</li>
             }
         </ol>*/

    }

    <br>
    <br>
    <div>
        <center><a href="/newCourse" class="btn btn-warning" style="font-family: 'Merriweather'";> New Course</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/courseOne" class="btn btn-warning" style="font-family: 'Merriweather'";> Course 1</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/courseTwo" class="btn btn-warning" style="font-family: 'Merriweather'";> Course 2</a></center>
    </div>
    <br>
    <br>
    <div>
        <center><a href="/studentregistry" class="btn btn-warning" style="font-family: 'Merriweather'";> Students</a></center>
    </div>
    <br />
    <br />
    <br />

    <details>
        Contact
        E-mail: example@neolearn.com
    </details>






    @code {

        CourseDto[] allCourses = new CourseDto[0];

        protected override async Task OnParametersSetAsync()
        {
            await base.OnParametersSetAsync();
            allCourses = await BackendAccessService.GetAllCourses();
        }

        private void RouteToStudentList()
        {
            NavigationManager.NavigateTo("/studentregistry");
        }

    }
