@page "/faqpage/"

<h1>Frequently Asked Question</h1>
<p></p>



<div class="accordion" id="accordionFAQ">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" type="button">
                    An wen richten sich die Online-Fortbildungen?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
            <div class="card-body">
                Unsere Online-Fortbildungen richten sich vorrangig an Kinderärzte sowie Studenten in Jimma, Äthiopien.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" type="button">
                    Wie funktioniert die eLearning Plattform?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
            <div class="card-body">
                Sie erhalten von uns Ihre Zugangsdaten, mit denen Sie auf unsere eLearning Plattform zugriff erhalten. Hier haben Sie Zugang zu unterschiedlichen Trainings-Videos, Zoom‘-Workshops, eLearning Module und Online Fragebögen.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Wie kann man das Produkt verwenden? Wie startet man die Verwendung?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
            <div class="card-body">
                Nachdem erfolgreichen Login haben Sie Zugang auf alle Videos und Module.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Wie differenziert es sich von anderen ähnlichen Produkten?
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
            <div class="card-body">
                Nur Studenten oder Mitarbeiter haben auf diese Plattform Zugriff.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Sind die Fortbildungskurse kostenpflichtig?
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
            <div class="card-body">
                Alle auf der Lernplattform zur Verfügung gestellten eLearnings, Online-Seminare und Arbeitsmaterialien sind kostenfrei.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Was mache ich, wenn ich das Produkt nicht mehr verwenden möchte?
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
            <div class="card-body">
                Falls Sie die eLearning Plattform nicht mehr verwenden möchten, können Sie unter Konto bearbeiten Ihr Konto deaktivieren.
                Schreiben Sie uns eine kurze Mail mit Ihren Kontaktdaten und dem Hinweis, dass wir Ihre Daten / Ihr Profil löschen sollen an (E-Mail).
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Wenn sich die Bedienung verändert, wie erfahre ich wie es nun funktioniert?
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ">
            <div class="card-body">
                Vor jedem Update erhalten Sie von uns eine Info Mail bezüglich der neuen Version. Bei großen Veränderungen der Plattform erhalten Sie eine zusätzliche Mail in der drin steht, wie Sie mit den neuen Features umgehen können.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Wie nutzt der Produktanbieter die Informationen, die er von mir als Kunde möchte?
                </button>
            </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFAQ">
            <div class="card-body">
                Ihre Daten werden bei uns, nach den gesetzlichen Vorgaben, für insgesamt __ Jahre aufgehoben. Die genaue Nutzung Ihrer Daten können Sie unseren Datenschutzbestimmungen auf der eLearning Plattform entnehmen.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Wie kann ich mehr über das Produkt erfahren?
                </button>
            </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFAQ">
            <div class="card-body">
                Mithilfe der Broschüre, die Ihnen unter diesem Link bereitgestellt wird, können Sie mehr über die eLearning Plattform erfahren. (PDF-Datei)
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Wie lange dauert eine Online-Fortbildung im Durchschnitt? Wie viel Zeit benötige ich für einen Kurs?
                </button>
            </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFAQ">
            <div class="card-body">
                Ein E-Learning dauert je nach Thema bis zu __ Minuten. Danach haben Sie noch die Möglichkeit diverse Arbeitsmaterialien (z.B. Broschüren) anzuschauen. Ein Online-Seminar dauert je nach Thema __ Minuten.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEleven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    Wen kontaktiere ich, wenn ich ein Problem habe?
                </button>
            </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionFAQ">
            <div class="card-body">
                Es wird empfohlen, dass Sie unter dem FAQ „Problemlösung“ sicherstellen, dass Ihr Problem nicht bereits beantwortet wurde. Falls dies nicht der Fall ist, können Sie Ihr Problem den beiden Ärzten Dr. Victoria Lieftücher (E-Mail) und Dr. Tobia Reicherzer (E-Mail) melden.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwelve">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    Gibt es Dinge, um die ich mich kümmern oder beobachten muss?
                </button>
            </h5>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionFAQ">
            <div class="card-body">
                Falls Ihr Profil über 4 Wochen hinweg nicht benutzt wird, wird dieser deaktiviert.
            </div>
        </div>
    </div>
</div>
