@page "/homepage/{UserId:int}"
@using SEIIApp.Client.Services
@using SEIIApp.Shared.DomainDto
@inject Services.BackendAccessService BackendAccessService
<h3>Homepage</h3>

<p>
Welcome home @if (StudentUser != null) @StudentUser.StudentName !

</p>

@code {
    [Parameter]
    public int UserId { get; set; }

    private StudentDto StudentUser { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        StudentUser = await BackendAccessService.GetStudentById(UserId);

    }

}