@page "/"
@inject NavigationManager NavigationManager

    <div style="text-align: center">
        <fieldset>
            <br />
            <h1>Welcome to <b><font color="orange">NeoLearn!</font></b></h1>
            <br />
            <h4>Your repetitive E-Learning Website</h4>
            <br /> <br />
            <button class="btn btn-primary" @onclick="RouteToLogin">Login</button>
        </fieldset>
    </div>


    @code {
        private void RouteToLogin()
        {
            NavigationManager.NavigateTo("/login");
        }
    }
