@page "/learning"


<h1 style="color:DodgerBlue" align="center">NeoLearn</h1>

<style>
    p {
        width: 30em;
        padding-top: 100px;
    }
</style>
<body>
    <p> </p>
</body>


<div style="text-align: center">
    <a href="/learning" class="btn btn-primary" role="button" data-bs-toggle="button"> PDF</a><br><br>
    <a href="/learning" class="btn btn-primary" role="button" data-bs-toggle="button"> Go to Quiz</a>

</div>

<style>
    p {
        width: 30em;
        padding-top: 100px;
    }
</style>
<body>
    <p> </p>
</body>


<div style="text-align: center">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/rnLkl6Bl9P0" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>