@page "/login"
@using SEIIApp.Shared.DomainDto
@inject NavigationManager NavigationManager
@inject Services.BackendAccessService BackendAccessService

<h1 style="color:DodgerBlue" align="center">NeoLearn</h1>

<style>
    p {
        width: 15em;
        padding-top: 50px;
    }
</style>
<body>
    <p> </p>
</body>

<div data-role="fieldcontain">
    <div style="text-align: center">
        <fieldset>
            <label for="benutzername">Username:</label>
            <input type="text"
                   @bind-value="name"
                   @bind-value:event="oninput" /><br><br>
            <label for="kennwort">Password:</label>
            <input type="password"
                   @bind-value="password"
                   @bind-value:event="oninput" /><br><br>
        </fieldset>
    </div>
</div>

<div data-role="fieldcontain">
    <div style="text-align: center">
        <fieldset>
            <button class="btn btn-primary" @onclick="RouteToHomepage">Login</button>
            <br /><br><br>
            @if (message.Equals("Wrong Login-Information!"))
            {
                <p style="color:red">
                    @message
                </p>
            }
            else
            {
                <p>
                    @message
                </p>
            }
        </fieldset>
    </div>
</div>




@code {
    private string name;

    private string password;

    private int id;

    StudentDto student;

    private string message = "Please log in.";


    private async Task RouteToHomepage()
    {
        student = await BackendAccessService.GetStudentByNameAndPw(name, password);
        if (student != null) NavigationManager.NavigateTo($"/homepage/{student.UserId}");
        else message = "Wrong Login-Information!";
    }

}

