@page "/login"
@using SEIIApp.Shared.DomainDto
@inject NavigationManager NavigationManager
@inject Services.BackendAccessService BackendAccessService
<h3>Login</h3>

Name:
<p>
    <input type="text"
           @bind-value="name"
           @bind-value:event="oninput"/>
</p>
<br/>
Password:
<p>
    <input type="text"
           @bind-value="password"
           @bind-value:event="oninput"/>
</p>
<br/>
<button class="btn btn-primary" @onclick="RouteToHomepage">Login</button>
<br />
<p>
@message
</p>

@code {
    private string name;

    private string password;

    private int id;

    StudentDto student;

    private string message = "Please log in.";

    private async Task RouteToHomepage()
    {
        student = await BackendAccessService.GetStudentByNameAndPw(name, password);
        if (student != null) NavigationManager.NavigateTo($"/homepage/{student.UserId}");
        else message = "Wrong Login-Information!";
    }

}