@page "/loginID"


<h1 style="color:DodgerBlue" align="center">NeoLearn</h1>

<style>
    p {
        width: 30em;
        padding-top: 100px;
    }
</style>
<body>
    <p> </p>
</body>



<form action="test" method="GET"> 
<div data-role="fieldcontain">
    <div style="text-align: center">
        <fieldset>
            <label for="ID">User-ID:</label>
            <input type="text" name="ID" id="ID" focus><br><br>
            <label for="kennwort">Password:</label>
            <input type="password" name="password" id="password"><br><br>
        </fieldset>
    </div>
</div>

<div data-role="fieldcontain">
    <div style="text-align: center">
        <fieldset>
            <input class="btn btn-primary" type="submit" value="einloggen">
        </fieldset>
    </div>
</div>
</form>



