@page "/login"
@using SEIIApp.Shared.DomainDto
@inject NavigationManager NavigationManager
@inject Services.BackendAccessService BackendAccessService
<h3>Login</h3>

Name:
<p>
    <input type="text"
           @bind-value="name"
           @bind-value:event="oninput"/>
</p>
<br/>
Password:
<p>
    <input type="text"
           @bind-value="password"
           @bind-value:event="oninput"/>
</p>
<br/>
<button class="btn btn-primary" @onclick="RouteToHomepage">Login</button>

<p>
    @if (student != null)
    {
        @student.UserId
    }
</p>

@code {
    private string name;

    private string password;

    private int id;

    StudentDto student;

    private async Task RouteToHomepage()
    {
        student = await BackendAccessService.GetStudentByNameAndPw(name, password);
        NavigationManager.NavigateTo($"/homepage/{student.UserId}");
    }

}