@page "/newCourse"

<center><strong><p style="font-size:3rem;" class="h1">New Course</p></strong></center>
<br />
<br />
<center>
    <div>
        <label for="CourseName">Course name:</label>
        <input type="text" class="align-content-around" name="CourseName" />
        <a class="btn btn-primary"> Create </a>
    </div>
</center>

<br />
<br />
<center>
<div>
    <a href="/chapter" class="btn btn-primary"> add Chapter</a>
</div></center>
<br />
<br />

<br />


<details>
    Contact
    E-mail: example@neolearn.com
</details>

@code {
    public void OnPost()
    {
    }

}
