@page "/newCourse"

<h3 style="font-family: 'Mate SC'" color: #68a2a0; align: center">new Course</h3>

<div style="font-family: 'Merriweather'" color: #68a2a0;>
    <label for="CourseName">Course name:</label>
    <input type="text" class="alert" name="CourseName" value="" />
    <a class="btn btn-warning" style=" font-family: 'Merriweather' , serif;" > Create </a>
</div>

<br />
<br />
<div>
    <a href="/chapter" class="btn btn-warning" style=" font-family: 'Merriweather' , serif;"> add Chapter</a>
</div>
<br />
<br />

<br />


<details>Contact
    E-mail: example@neolearn.com
</details>

@code {
    public void OnPost()
    {
    }

}
