@page "/newCourse"

<h3 style="font-family: 'Mate SC'";>New Course</h3>

<div style="font-family: 'Merriweather' ">
    <label for="CourseName">Course name:</label>
    <input type="text" class="alert" name="CourseName" value="" />
    <a class="btn btn-warning"> Create </a>
</div>

<br />
<br />
<div style="font-family: 'Merriweather'">
    <a href="/chapter" class="btn btn-warning"> add Chapter</a>
</div>
<br />
<br />

<br />


<details>Contact
    E-mail: example@neolearn.com
</details>

@code {
    public void OnPost()
    {
    }

}
