@page "/students"
<h3 style="font-family: 'Mate SC'">Students</h3>
<b style="font-family: 'Mate SC'">Here is a List of your Students:</b>
<b style="font-family: 'Merriweather'">
    <br />
    Janet Perkins
    <br>
    Mary Johnson
    <br>
    Peter Carlson
    <br>
    Trevor Hansen
    <br>
    Aaron Bennett
    <br>
    Abbey Christonson
    <br />
    Ali Connors
    <br />
    Alex Nelson
    <br />
    Anthony Stevens
</b>

@code {

}
