@page "/students"
<h3>Students</h3>
<b>Here is a List of your Students:</b>
<b>
    <br />
    Janet Perkins
    <br>
    Mary Johnson
    <br>
    Peter Carlson
    <br>
    Trevor Hansen
    <br>
    Aaron Bennett
    <br>
    Abbey Christonson
    <br />
    Ali Connors
    <br />
    Alex Nelson
    <br />
    Anthony Stevens
</b>

@code {

}
