@page "/students"
<h3 style="font-family: 'Mate SC'">Students</h3>
<h4 style="font-family: 'Merriweather'" color: #68a2a0;" >Here is a List of your Students:</h4>
<b style="font-family: 'Merriweather'" color: #68a2a0;">
    <br />
    Janet Perkins
    <br>
    Mary Johnson
    <br>
    Peter Carlson
    <br>
    Trevor Hansen
    <br>
    Aaron Bennett
    <br>
    Abbey Christonson
    <br />
    Ali Connors
    <br />
    Alex Nelson
    <br />
    Anthony Stevens
</b>

@code {

}
