.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    padding-left: 0.5rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1.2rem;
}

    .nav-item ::deep a {
        color: black;
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item ::deep a.active {
        color: orange;
    }

    .nav-item ::deep a:hover {
        background-color: rgba(255,255,255,0.1);
        color: orange;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
