@page "/courseTwo"

<h3>Course Two</h3>
<b>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
</b>
<br />
<br />
<details>
    <h1>Chapter 1</h1>
    <br />
    <b>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
    </b>
    <br />
    <br />
    <img src="C:\Users\basti\OneDrive\Bilder\pdfexample.jpg" alt="Sample Pdf" />
    <br />
    <br />
    <div>
        <a href="/chapter" class="btn btn-primary"> Quiz 1</a>
    </div>
    <br />
    <br />
    <h1>Chapter 2</h1>
    <br />
    <b>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
    </b>
    <br />
    <br />
    <img src="C:\Users\basti\OneDrive\Bilder\pdfexample.jpg" alt="Sample Pdf" />
    <br />
    <br />
    <div>
        <a href="/chapter" class="btn btn-primary"> Quiz 1</a>
    </div>
    <br />
    <div>
        <a href="/chapter" class="btn btn-primary"> Quiz 2</a>
    </div>
    <br />
    <br />
</details>

@code {
    public void OnPost()
    {
    }

}
