@page "/creator"
<h2 style="font-family: 'Mate SC'" color: #68a2a0;",>Creator</h2>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title style="font-family: 'Mate SC' " color: #68a2a0;">Courses</title>
<link rel="stylesheet" href="JimmaneoTest.css">
<h3 style="font-family: 'Mate SC'" color: #68a2a0;" >Courses</h3>
<div id="courses">
    

    <br>
    <br>
    <div>
        <a href="/newCourse" class="btn btn-info" style="font-family:'Mate SC'" color: #68a2a0;"> new Course</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseOne" class="btn btn-info" style="font-family:'Mate SC'" color: #68a2a0;"> Course 1</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/courseTwo" class="btn btn-info" style="font-family:'Mate SC'" color: #68a2a0;"> Course 2</a>
    </div>
    <br>
    <br>
    <div>
        <a href="/students" class="btn btn-info" style="font-family:'Mate SC'" color: #68a2a0;"> Students</a>
    </div>
    <br />
    <details>
        Contact
        E-mail: example@neolearn.com
    </details>


</div>


    @code {
        public void OnPost()
        {
        }




    }
