@page "/"

<nav class="navbar navbar-light" style=" color: #68a2a0;" align="center">
    <a class="navbar-brand mb-0 h1" href="" style="font-family: 'Mate SC', serif;font-size:24px">Welcome to Neolearn</a>
</nav>

<p>

</p>

    <a href="/login" class="btn btn-info" role="button" data-bs-toggle="button"
          style="font-family: 'Merriweather', serif; font-size: 12px,"> Click here to Login</a>
    <br>
    <br>

