@page "/newCourse"

<h3>new Course</h3>

<div>
    <label for="CourseName">Course name:</label>
    <input type="text" class="alert" name="CourseName" value="" />
    <a class="btn btn-info"> Create </a>
</div>

<br />
<br />
<div>
    <a href="/chapter" class="btn btn-info"> add Chapter</a>
</div>
<br />
<br />

<br />


<details>Contact
    E-mail: example@neolearn.com
</details>

@code {
    public void OnPost()
    {
    }

}
